<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password | Forever</title>
    <link rel="stylesheet" href="/css/change-password.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../partials/user/header.ejs') %>

    <section class="change-password-container">
        <h2>Change Password</h2>

        <form action="/user/change-password" method="POST" class="change-password-form">
            <input type="password" name="newPassword" placeholder="Enter New Password" required>
            <input type="password" name="confirmPassword" placeholder="Re-Enter New Password" required>

            <div class="links">
                <p>Don't have an account? <a href="/user/signUp">Create account</a></p>
            </div>

            <button type="submit" class="btn-change">Change Password</button>
        </form>
    </section>

    <%- include('../partials/user/footer.ejs') %>

</body>
</html>
