<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification | Forever</title>
    <link rel="stylesheet" href="/css/emailVerification.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../partials/user/header.ejs') %>

    <section class="verify-container">
        <h2>Email Verification</h2>
        <form action="/forgot-email-valid" method="POST" class="verify-form">
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit" class="btn-verify">Verify</button>
        </form>

        <p class="redirect">
            Don't have an account? <a href="/signUp">Sign Up</a>
        </p>
    </section>

    <%- include('../partials/user/footer.ejs') %>

</body>
</html>