<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Forever</title>
    <link rel="stylesheet" href="/css/login.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
     <%- include('../partials/user/header.ejs') %>
    <section class="login-container">
        <h2>Login —</h2>
          <% if (typeof error !== 'undefined') { %>
        <div class="error-message"><%= error %></div>
    <% } %>
        <form action="/login" method="POST" class="login-form">
            <div class="input-wrapper">
            <input type="email" name="email" placeholder="Email" required>
            </div>

            <div class="input-wrapper password-wrapper">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <i class="fa-regular fa-eye" id="togglePass"></i>
            </div>


            <div class="options">
                <a href="/forgot-password" class="forgot">Forgot your password?</a>
                <a href="/signUp" class="create">Create account</a>
            </div>

            <button type="submit" class="btn-login">Sign In</button>

            <div class="divider">
                <span>or</span>
            </div>

            <a href="/auth/google" class="btn-google">
                <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google logo">
                Login with Google
            </a>
             <div class="mt-5">
            <a href="/demo-login" class="btn btn-outline-primary">Try Demo Login</a>
        </div>
        </form>
    </section>

    <%- include('../partials/user/footer.ejs') %>
    <script>
    const passwordField = document.getElementById("password");
    const togglePass = document.getElementById("togglePass");

    togglePass.addEventListener("click", () => {
        const isPassword = passwordField.type === "password";
        passwordField.type = isPassword ? "text" : "password";
        togglePass.classList.toggle("fa-eye-slash");
    });
</script>

    <script src="https://kit.fontawesome.com/a2e0e6cfd8.js" crossorigin="anonymous"></script>
</body>
</html>
