<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Forever</title>
    <link rel="stylesheet" href="/css/login.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
     <%- include('../partials/user/header.ejs') %>
    <section class="login-container">
        <h2>Login —</h2>
        <form action="/login" method="POST" class="login-form">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <div class="options">
                <a href="/user/verify-email" class="forgot">Forgot your password?</a>
                <a href="/user/signUp" class="create">Create account</a>
            </div>

            <button type="submit" class="btn-login">Sign In</button>

            <div class="divider">
                <span>or</span>
            </div>

            <button class="btn-google">
                <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google logo">
                Login with Google
            </button>
        </form>
    </section>

    <%- include('../partials/user/footer.ejs') %>
    <script src="https://kit.fontawesome.com/a2e0e6cfd8.js" crossorigin="anonymous"></script>
</body>
</html>
